
PdM_errors.csv
PdM_failures.csv
PdM_machines.csv
PdM_maint.csv
PdM_telemetry.csv
.ipynb_checkpoints/PdM_errors-checkpoint.csv
.ipynb_checkpoints/Projet 3-checkpoint.ipynb
.ipynb_checkpoints/PdM_failures-checkpoint.csv
.ipynb_checkpoints/PdM_machines-checkpoint.csv
.ipynb_checkpoints/PdM_maint-checkpoint.csv
